{% extends 'main.html.twig' %}
{% block body %}

<script>
  idgal={{ idAlbum }};
  hashgal= "{{ tokenAlbum }}";
  token = "{{ token }}";
  admin=false;
  baseURL = "{{ app.request.getSchemeAndHttpHost() }}";
</script>

<script src="/js/app.js"></script>
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<script src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/css/ddvideogallery.css" />
<script src="/js/ddvideogallery.js"></script>
<script src="/js/imgsrc.js"></script>
<script src="/js/ngDialog.min.js"></script>
<script src="/js/zingtouch.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/ngDialog.min.css" />
<link rel="stylesheet" href="/css/ngDialog-theme-default.css">
<div id="photocontrol">
</div>
<div ng-controller="GalleryCtrl" id="mainCtrl">
<script type="text/ng-template" id="zipid">
   <div>Veuillez attendre quelques secondes que le fichier zip soit généré, il sera alors téléchargé automatiquement. Vous pouvez fermer cette fenêtre.</div>
</script>
{%  if admin|default(null)   %}
{% verbatim %}


<script>
  admin=true;
</script>
<script type="text/ng-template" id="modalid">
    <h1>Insert comment</h1>
    <p><input type="text" ng-model="currentcomment" id="inputcomment" autofocus ></p>
	<div style="float: left">
	<button type="button" class="ngdialog-button red" ng-click="deletePhoto(currentcommentindex)">Delete</button>
	</div>
<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="updateComment(currentcommentindex,currentcomment)">Save</button>
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Close</button>
		</div>
</script>

<script type="text/ng-template" id="countryselection">
  <div style="overflow : scroll;height: 400px;">
  <h1><b>Country List</b></h1><br /><hr />
  <span id="countrycontent" ng-repeat="country in countryMapping | orderBy:'code'"><a href ng-click="album.country=country.name;closeThisDialog('Some value')">{{country.code}} : {{country.name}}</a><br /></span>
  </div>
</script>


<script type="text/ng-template" id="userselection">
  <div style="overflow : scroll;height: 400px;">
  <h1><b>User List</b></h1><br /><hr />
  <span id="usercontent" ng-repeat="user in users"><a href="#" ng-click="editOneUser(user.id)">{{user.username}} </a><br /></span>
  </div>
<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="editOneUser(-1);">Create User</button>
</script>

<script type="text/ng-template" id="useredit">
  <div style="overflow : scroll;height: 400px;">
  <h1><b>User Edition</b></h1><br /><hr />
		<span>User : </span><input type="text" ng-model="editUser.username"><br />
		<span>Password : </span>
		<input type="password" ng-model="editUser.password"><br/><br/>
		<span>isAdmin : </span><input type="checkbox" ng-model="editUser.isAdmin" >
	<div class="ngdialog-buttons"> </div>
	<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="modifyUser()">Modify</button>
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Close</button>
		</div>
		  </div>

		<button type="button" class="ngdialog-button ngdialog-button-warning" ng-click="deleteUser()">Delete</button>
</script>


<script type="text/ng-template" id="uploadid">
    <div ng-repeat="(key,value) in upload" class="photos_wrapper">
			<div style="background: #3288e6;color: white;" ng-if="value!='Error'">{{ key }}</div>
			<div style="background: red;color: white;" ng-if="value=='Error'">{{ key }}</div>
			<div class="text-color: green;">{{ value }}</div><BR />
	</div>

</script>




<script type="text/ng-template" id="deleteAlbum">
    <h1>Delete Album</h1>
<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="deleteAlbum('OK')">Delete</button>
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Close</button>
		</div>
</script>
{% endverbatim %}
{% endif %}

<script>
class AuthImg extends HTMLImageElement {
            constructor() {
                super();
                this._lastUrl = '';
            }

            static get observedAttributes() {
                return ['authSrc'];
            }

            connectedCallback() {
                let url = this.getAttribute('authSrc');
                if (url !== this._lastUrl) {
                    this._lastUrl = url;
                    requestImage(url, this);
                }
                console.log('connectedCallback() is called.');
            }
        }

        window.customElements.define('auth-img', AuthImg, {extends: 'img'});
</script>
	<div ng-hide="showphoto">
	{%  if admin|default(null)   %}
		<h3>
			 <span class="col1">Admin</span>
		</h3>
		
	<div><button type="button" class="defaultbutton blue" ng-click="manageUser()">Manage User<br /></button><button type="button" class="defaultbutton green" ng-click="createAlbum()">Create Album<br /></button></div>
    {% else %}
		<h3>
			 <span class="col1">{% trans %}Our Photos{% endtrans %}</span>
		</h3>
	{% endif %}
		<div class="searchbox">
			{% trans %}Search{% endtrans %} : 
			<input type="search" ng-model="search" ng-change="updatesearch(search)" placeholder="{% trans %}3 letters min{% endtrans %}">
		</div>
{% verbatim %}

		<div id="polaroid">
			<p style="text-align:center">
				<button class="pagelink" ng-click="previousPage()" ng-show="startGal!=0"><</button>
				<button class="pagelink" ng-repeat="pge in link" ng-click="actShowPage(pge.indice)">
					<span style="color: red;" ng-show="pge.selected==1"> {{ pge.indice }}</span>
					<span ng-show="pge.selected!=1">{{ pge.indice  }}</span>
				</button>
				<button class="pagelink" ng-click="nextPage()" ng-show="(startGal+1)*galLimit<numAlbums">></button>
			</p>
			<center>
	  		 <div style="display: inline-block;" ng-repeat="album in albums">
				<a href ng-click="actShowPhoto(album.id)">
					<div class="photofigure" >
						<div class="photodate">{{ album.date }}</div>
						<div class="center-cropped" style="display:block;"><img class="ngimg" http-src="/api/v1/albums/{{ album.id }}/photos/random?thumb=1" alt="#gal.caption#" /></div>
					<div class="photocomment">{{ album.name }}</div>
					</div>
				</a>
          		</div>
			</center>
		</div><!--end polaroid-->
			<p style="text-align:center">
				<button class="pagelink" ng-click="previousPage()" ng-show="startGal!=0"><</button>
				<button class="pagelink" ng-repeat="pge in link" ng-click="actShowPage(pge.indice)">
					<span style="color: red;" ng-show="pge.selected==1"> {{ pge.indice }}</span>
					<span ng-show="pge.selected!=1">{{ pge.indice  }}</span>
				</button>
				<button class="pagelink" ng-click="nextPage()" ng-show="(startGal+1)*galLimit<numAlbums">></button>
			</p>

	</div>
<script>

$(document).ready(function() {

 	 if (window.history && window.history.pushState) {

		    window.history.pushState('forward', null, '#forward');

		    $(window).on('popstate', function() {
			var scope = angular.element($("#mainCtrl")).scope();  
			if (scope.showphoto) {
			scope.$apply(function(){
				scope.returnToGal();
    			});
			$('#backimg').effect( "shake");
			window.history.pushState('forward', null, '#forward');
		     }
    		    });
	}
});

</script>

{% endverbatim %}

{%  if admin|default(null)   %}
{% verbatim %}
	<div ng-show="showphoto" style="text-align:center;margin-left: auto; margin-right: auto">
				<h3 class="pb1"><span class="col1">Admin</span></h3>
				<a href ng-click="returnToGal()"><img class="img_inner fleft" src="images/g1.png" style="margin-top: 7px;width: 40px;height:40px"></a>
				<div style='float:right'><button type="button" class="defaultbutton red" ng-click="deleteAlbum()">Delete Album</button></div>
                                <div class="extra_wrapper" style="text-align: left">

                <label class="alignedLabel">Galerie</label> <input type="text" ng-model="album.name" size="50" ng-Change="albumHasChanged=true">
                <p>
                       <label class="alignedLabel">Date</label><input type="text" ng-model="album.date" id="datepicker" ng-Change="albumHasChanged=true"><br/><label class="alignedLabel">Pays:</label>
			   <input type="text" size="2" ng-model="album.country" ng-Change="albumHasChanged=true"><button type="button" class="defaultbutton green" ng-click="displayCountry()">List</button>
			<br /><p><label class="alignedLabel">Commentaire</label></p><textarea cols="100" ng-model="album.commentaire" ng-Change="albumHasChanged=true"></textarea>
			<label class="alignedLabel">Youtube</label>
			<textarea cols="100" ng-model="album.youtube" ng-Change="albumHasChanged=true"></textarea>
                </div>
                <button type="button" class="defaultbutton orange" ng-click="managePublic(1)" ng-show="album.public==0" >Public</button>
               	<div ng-show="album.public==1" style="float: left">
                        <button type="button" class="defaultbutton green" ng-click="managePublic(0)" >Private</button>
                        {{ baseUrl }}/albumpublic/{{album.id}}?token={{album.id_pub}}
                </div></p><p style="height: 20px">
				<label class="alignedLabel">Sort album by : </label>
				<select ng-model="album.sorter" style="float:left" ng-Change="albumHasChanged=true">
					<option value="path">File-path</option>
      				<option value="date_time">Exif-Date</option>
        </select><div>
		<div>
		<label class="alignedLabel"><b>Right Management</b> </label>

		<div class="right_wrapper">
			<div ng-repeat="right in rights" class="right_box">
				<label>{{right.username}}</label> <input id="rightcbx{{right.id}}" type="checkbox" name="{{right.id}}" ng-model="rights[$index].hasRight" onChange="angular.element(this).scope().albumChanged()" ></input>
			</div>
                </div><br />

			<button type="button" class="defaultbutton blue"  ng-click="saveInfo()">Enregistrer</button><img src="/images/validate.png" width="20px" ng-show="inprogress==2">
		<br /><br /> 
		 		<img src="/images/ajax-loader.gif" width="40px" ng-show="inprogress==1">

	<div class="center">
    <div id="drop_file_zone" ondrop="angular.element(this).scope().upload_file(event)" ondragover="return false">
        <div id="drag_upload_file">
            <p>Drop file(s) here</p>
            <p>or</p>


			<input type="file" multiple="Yes" value="Select File(s)" onchange="angular.element(this).scope().manageFileUpload(this.files)">
		</div>
        </div>
    </div>
</div>

                <center>
                <div style="height: 8px;"></div>

				</center><div style="height: 8px;"></div>
				<div id="photocontainer">
				<div id="photoList">
                <div ng-repeat="photo in photos" on-Finish-Render-Filters class="photos_wrapper" >
                        <div class="photos" id="photo{{ photo.id }}">
                                <a href  ng-click="showCom(photo.id,$index)" alt="{{photo.commentaire}}">
                                        <div class="minimg" style="display: block;"><img class="ngmini" http-src="/api/v1/albums/{{ idAlbum }}/photos/{{ photo.id }}/download?thumb=1"></div>
                        </div>&nbsp;
                        <div class="commentaire" >{{photo.commentaire}}</div>
				</div></div>
			   </div>

{% endverbatim %}
{% else %}
{% verbatim %}
	<div ng-show="showphoto" style="text-align:center;margin-left: auto; margin-right: auto">
		
		<h3 class="pb1"><span class="col1"> {{ album.name }} </span></h3>
{% endverbatim %}

{% if app.user !=null and app.user.username!='ANONYMOUS' %}		
		<div class="tooltip"><a href ng-click="returnToGal()"><img id="backimg" class="img_inner fleft zoom" src="/images/g1.png" style="margin-top: 7px;width: 40px;height:40px"></a><span class="tooltiptext">{% trans %}Return to album list{% endtrans %}</span></div>
{% endif %}

	</p>
		<div class="tooltip">	{% verbatim %}<a href="/albums/{{album.id}}/zip" ng-click="zipOpen()">{% endverbatim %}<img class="img_inner fleft zoom" src="/images/zip2.png" height="40px" id="zipimg"></a><span class="tooltiptext">{% trans %}Download ZIP{% endtrans %}</span></div>
		<div class="tooltip"><a href ng-click="diaporama()"><img class="img_innet fleft zoom" src="/images/diapo.png"  height="40px" id="diap"><span class="tooltiptext">{% trans %}SlideShow{% endtrans %}</span></div>
		<div class="tooltip"><a href ng-click="showVideo()"><img class="img_inner fleft zoom " src="/images/play_file.png" height="40px" ng-show="gallery.gallery.video" id="videoimg"></a><span class="tooltiptext">{% trans %}Go to video{% endtrans %}</span></div>
		<div class="tooltip"><a href ng-click="goToVideo()"><img class="img_inner fleft zoom" src="/images/play_file.png" height="40px" ng-show="videotabshow" id="videoimg2"></a><span class="tooltiptext">{% trans %}Go to video{% endtrans %}</span></div>
		<div class="extra_wrapper right_wrapper" style="text-align: left">
	{% verbatim %}

			<b>{{ album.date }} </b><br /> {{ album.commentaire }}
                </p></div>

		<center>
		<div style="height: 8px;"></div>
		<div ng-repeat="photo in photos" on-Finish-Render-Filters class="photos_wrapper">
			<div class="photos">
				<a class="fullsizable" id="pht{{ $index }}" href="/downloadbyhash/{{ album.id }}/photos/{{ photo.id }}?thumb=0&token={{ tokenAlbum }}" alt="{{ photo.commentaire }}">
					<div  class="minimg" style="display: block;"><img class="ngmini" http-src="/api/v1/albums/{{ idAlbum }}/photos/{{ photo.id }}/download?thumb=1"></div>

				</a>
			</div>
			<div class="commentaire" > {{ photo.commentaire }}</div>
		</div>


<p id="videobox">
<div id="videojukebox" class="ddvideoGallery" style="width: 70%">
	<div class="videoWrapper"></div>
	<div class="videoNav"></div>
</div>
</p>
{% endverbatim %}
{% endif %}
		</center>



</div>
	</div>
{% endblock %}
